.large-hero {
	position: relative;

	& img {
		width: 100%;
	}

	&__text-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		transform: translateY(50%);
	}

	& h1 {
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
		font-size: 2.4rem;

		@mixin atsmall {
			font-size: 4.8rem;
		}
	}

	& h2 {
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
		font-size: 1.5rem;
	}

	& p {
		color: #fff;
		font-size: 1.5rem;
		text-shadow: 2px 2px 0 rgba(0,0,0,.3);
		width: 25rem;
		margin: auto;
	}

	& a {
		color: #fff;
		font-size: 1rem;
	}
}



